---
configure_dotfiles: true
configure_terminal: false
configure_osx: true

# Set to 'true' to configure the Dock via dockutil.
configure_dock: true
dockutil_install: true
dockitems_remove:
  - Apps
  - Telefone
  - Jogos
  - "Assistente de Feedback"
  - Launchpad
  - Mensagens
  - Mail
  - Mapas
  - Fotos
  - FaceTime
  - Calendário
  - Contatos
  - Lembretes
  - Notas
  - Freeform
  - TV
  - Música
  - "App Store"
  - "Espelhamento do iPhone"
dockitems_persist:
  - name: Safari
    path: "/Applications/Safari.app"
    pos: 1
  - name: Firefox
    path: "/Applications/Firefox.app/"
    pos: 2
  - name: Slack
    path: "/Applications/Slack.app/"
    pos: 3
  - name: Notion
    path: "/Applications/Notion.app/"
    pos: 4
  - name: "Ghostty"
    path: "/Applications/Ghostty.app/"
    pos: 5
  - name: "VS Code"
    path: "/Applications/Visual Studio Code.app/"
    pos: 6
  - name: "Ajustes do Sistema"
    path: "/System/Applications/System%20Settings.app"
    pos: 999
configure_sudoers: false
sudoers_custom_config: ''
# Example:
# sudoers_custom_config: |
#   # Allow users in admin group to use sudo with no password.
#   %admin ALL=(ALL) NOPASSWD: ALL

dotfiles_repo: https://github.com/DawTaylor/dotfiles
dotfiles_repo_version: master
dotfiles_repo_accept_hostkey: true
dotfiles_repo_local_destination: ~/dotfiles

homebrew_installed_packages:
  - awscli
  - bat
  - circleci
  - eza
  - fd
  - fzf
  - helm
  - jq
  - kubernetes-cli
  - minikube
  - nvm
  - podman
  - podman-tui
  - pyenv
  - sqlite
  - stow
  - terraform
  - tlrc

homebrew_taps: []

homebrew_cask_appdir: /Applications
homebrew_uninstalled_cask_apps: []
homebrew_cask_apps:
  - 1password
  - 1password-cli
  - airbuddy
  - android-platform-tools
  - bambu-studio
  - chatgpt
  - choosy
  - db-browser-for-sqlite
  - firefox
  - font-hack-nerd-font
  - font-inconsolata-nerd-font
  - font-jetbrains-mono-nerd-font
  - font-meslo-lg-nerd-font
  - font-open-sans
  - font-sauce-code-pro-nerd-font
  - font-sf-mono-nerd-font-ligaturized
  - font-sf-pro
  - font-ubuntu-mono-nerd-font
  - font-ubuntu-nerd-font
  - gcloud-cli
  - ghostty
  - inkscape
  - insomnia
  - ngrok
  - nordvpn
  - notion
  - pgadmin4
  - pocket-casts
  - postman
  - sf-symbols
  - slack
  - steermouse
  - telegram
  - temurin@19
  - tg-pro
  - visual-studio-code
  - whatsapp
  - yubico-authenticator

# See `geerlingguy.mas` role documentation for usage instructions.
mas_installed_apps:
  - { id: 1191449274, name: "Tooth Fairy" }
  - { id: 441258766, name: "Magnet" }
  - { id: 1569813296, name: "1Password for Safari" }
mas_email: ""
mas_password: ""
mas_upgrade_all_apps: true

osx_script: "~/.osx --no-restart"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
# - name: drush
#   state: present # present/absent, default: present
#   version: "^8.1" # default: N/A
gem_packages: []
# - name: bundler
#   state: present # present/absent/latest, default: present
#   version: "~> 1.15.1" # default: N/A
npm_packages:
  - "@aws-amplify/cli"
  - corepack
  - http-serve
  - lerna
  - ts-node
# - name: webpack
#   state: present # present/absent/latest, default: present
#   version: "^2.6" # default: N/A
pip_packages: []
  # - pipenv
  # - venv
  # - virtualenv
# - name: mkdocs
#   state: present # present/absent/latest, default: present
#   version: "0.16.3" # default: N/A

# Set to 'true' to configure Sublime Text.
configure_sublime: false

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []